{% extends 'ht/base.html' %}
{% block title %}Home{% endblock %}
{% block content%}
{% load static %}
<div class="container-fluid mt-4 mb-4">
   <img src="{% static 'images/wel23.jpg' %}" class="d-block w-20 shadow-lg" style="width:1500px;height:450px" alt="logo">
  </div>
</div> 
</div>
<div class="container-fluid mt-2 mb-2">
  <div class=" row  mt-4 mb-2 shadow-lg mr-0">
  <div class="col-md">
    <img src="{% static 'images/a111.jpg' %}" class="mt-2" style="width:350px;height:200px; margin-left: 5px;">
    <h5 style="color: grey">Online Food Ordering System </h5>
      <p style="color: grey"> An online shop evokes the physical analogy of 
      buying products or services at a regular 'bricks and mortar' retailer or shopping center.</p>
  </div>

  <div class="col-md">
    <img src="{% static 'images/a1.jpg' %}" class="mt-2" style="width:350px;height:200px">
      <h5 style="color: grey" "text-align: center;"> Order Management System </h5>
      <p style="color: grey"> Online stores typically enable shoppers to use"search" features to find specific models,brands or items. Online customers must have access.</p>
  </div>

  <div class="col-md">
    <img src="{% static 'images/a3.jpg' %}" class=" mt-2" style="width:350px;height:200px">
    <h5 style="color: grey" "text-align: center;"> Customer Management System</h5>
      <p style="color: grey">A typical online store enables the customer to browse the firm's range of products and services,view photos or images of the products.</p>
  </div>

</div>
</div>

</div>
</div>


<!-- <div class="card-deck mt-5">
  <div class="card">
    <img class="card-img-top" src="{% static 'images/homes.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">South Indian Dishes</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <a href="{% url 'south' %}" class="btn btn-primary stretched-link">Select</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static 'images/homen.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">North Indian Dishes</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <a href="{% url 'chane' %}" class="btn btn-primary stretched-link">Select</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static 'images/homeh.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Hyderabad Dishes</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longe.</p>
      <a href="{% url 'hyd' %}" class="btn btn-primary stretched-link">Select</a>
    </div>
  </div>
</div> -->


<body style="overflow-x: hidden";>
  <div class="container-fluid bg-dark mt-5" style="font-size:15px" >
      <div class="container p-0">
        <div class=" container-fluid row text-left">
          <div class="col-md-5 col-d-5">
            <h1 class="text-light">About us</h1>
            <div class="text-muted">
            <p style="color: white">Online food ordering is a form of electronic commerce which allows consumers to directly buy goods or services from a seller over the internet using a web browser. Consumers find a product of interest by visiting the website of the retailer directly or by searching among alternative vendors using a shopping search engine.which displays the same product's availability and pricing at different e-retailer.An online shop evokes the physical analogy of buying products or services at a regular 'bricks-and-mortar' retailer or shopping center, the process is called business-to-consumer online shopping.</p>
          </div>
          <div class="pt-4 text-muted">
</div>
</div>
<div class="col-md-2  col-sm-12" style="margin-left: 25%">
  <div class="text-light" >
  <h2>Follow us</h2>
</div>
  <div class="text-muted">
  <p>let us be social</p>
</div>
  <div class="column">

            <span class="fa fa-facebook text-white" aria-hidden="true"></span>
            <i class="fa fa-google text-white" aria-hidden="true"></i>
            <i class="fa fa-twitter text-white" aria-hidden="true"></i>
            <i class="fa fa-instagram text-white" aria-hidden="true"></i>
            <i class="fa fa-youtube-play text-white" aria-hidden="true"></i>
            <i class="fa fa-whatsapp text-white" aria-hidden="true"></i>





  </div>
</div>
</div>
</div>
</div>
</div>



{% endblock %}